

body {
    font: 12pt Arial;
    background: rgb(74, 204, 255);
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    width: 500px;
    border-radius: 10px;
    margin: auto;     
    padding: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.582);
}
div { 
   padding: 10px;
}
footer {
    text-align: center;
    color: white;
    font-style: italic;
}