body {
    font: 12pt Arial;
}
button {
    font-size: 12pt;
    padding: 30PX;
}
button#b1 {
    background-color:  blue;
    color: white;
    font-weight: bold;
} 
button#b2 {
    background-color: green;
    color: white;
    font-weight: bold;
} 
button#b3 {
    background-color: red;
    color: white;
    font-weight: bold;
} 