@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");

body {
    font-size: 12pt;
    font-family:  Arial, Helvetica, sans-serif;
}
button {
    padding: 15px;

}
h1, h2 {
    font-family: "Pacifico", Arial, Helvetica, sans-serif ;
}