
body {
    background: rgb(71, 120, 255);
    font: 12pt Arial;
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.516);
}
input[type=button] {
    background: rgba(0, 128, 0, 0.772);
    color: white;
    padding: 5px;
    font-weight: bold;
}
footer {
    text-align: center;
    color: white;
    font-style: italic;
}
