
body {
    font: 12pt Arial;
    background: rgb(71, 148, 255);
}
header {
    color: white;
    text-align: center;
}
section {
    background: white;
    width: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.618);
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
}